@model IEnumerable<FolderBrowser.Models.FileViewModal>
<div class="table-rTempesponsive" style="max-height: 170px;display: block;overflow: scroll;">
    <table id="tbl_Tempfiles" class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="info">
                    <th></th>
                    <th> File Name</th>
                    <th>File Type</th>
                    <th>Last Updated</th>
                    <th>Actual Size</th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="ID" value="@item.ServerPath" class="custom-checkbox chkCheckBoxId" /></td>
                    <td><a href="@item.ServerPath" target="_blank">@item.FileName</a></td>
                    <td>@item.FileType</td>
                    <td>@item.LastUpdated</td>
                    <td>@item.ActualSize</td>
                </tr>
            }
            TempData["TempDataFiles"] = Model.ToList();
        }
    </table>
</div>
